body{
    background-color: #dba4cf;
}

.loginpage_main{
    display:flex;
    margin-top: 10px;
    margin-left: -65px;
}
.loginpage_logo{
    width: 175px;
    margin-top: 25px;
}
.loginpage_rightcomponent{
    
    width: 350px;
    padding-bottom: 25px;
    border: 1px solid #287db6;
    margin-top: 25px;
    text-align: center;
    /* background-color: rgb(141, 209, 209); */
    background-color: #ce78ba;
    border-radius: 5px;

}
.loginPage_signin{
    margin: 25px;
    
    }
.loginpage_text{
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #287db6;
    background-color: #dba4cf;
    /* background-color: rgb(66, 141, 141); */
    padding-left: 10px;
    border-radius: 5px;
}
.login_button{
    width: 270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    background-color: #b65ea1;
    border: 1px solid #287db6;
    color: white;
    
}
.login_ordiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.login_divider{
    width: 80px;
    height: 0px;
    margin-top: 10px;
    border: 1px solid black;

}
.login_or{
    margin: 0px 10px;
    

}
.login_fb{
    color: black;
    font-weight: bold;
    margin-top: 20px;

}
.login_forgot{
    color: black;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}
.loginpage_signupoption{
    height: 56px;
    width: 350px;
    border: 1px solid #287db6;
    margin-top: 25px;
    border-radius: 5px;
    text-align: center;
    /* background-color: rgb(141, 209, 209); */
    background-color: #ce78ba;
    


}
.loginpage_signup{
    margin-top: 20px;
}
.loginpage_signin{
    margin-top: 20px;
}
.loginpage_downloadSection{
    height: 105px;
    width:350px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;

}
.loginpage_option{
    margin-top: 20px;

}
.loginpage_dwimg{
    margin: 5px;

}